@media screen and (max-width:600px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

body{
	font-family:Montserrat;
	margin:0;
}
/*Header/title*/
header{
	padding:80px;
	text-align:center;
	background-color:black;
	color: white;
}
header h1 {
	font-size: 40px;
}
h2{
	font-size: 20px;
	text-align:center;
	
}
/* meny */
nav {
	overflow:hidden;
	background-color: #333;
	
}
.navul{
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:720px;
	margin: 0 auto;
	height:50px;
}

nav a {
	width:125px;
	display:block;
	color:white;
	text-align:center;
	padding: 14px 20px;
	transition:background-posiotion-x 0.9s linear;
	font-size:22px;
	text-decoration:none;
	transition:all 0.45s;
	
	
}

nav a.active{
	background-color:black;
}
nav a:hover{
	background-color:#ddd;
	color:black;
}
/* Footer */

footer{
	padding:20px;
	text-align: center;
	background:#ddd;
}

section#row {
	padding: 10px 0px 10px 0px;
	display: block;
}

section#row:after {
	content: "";
	display: table;
	clear: both;
}

section#main2 {
	float: inherit;
	width: 35%;
	margin-left: 400px;
	margin-right: auto;
	padding: 15px 10px 10px 10px;
	color: #000000;
	height: 306px;
	
}

section#content {
	padding: 10px 10px 10px 10px;
	color: #000000;
}


aside {
	float: right;
	width: 40%;
	color: #000000;
	
}
#asideTable1{
	width: 39px; 
	height: 179px;
}
button#ViewBtn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
