@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media screen and (max-width:600px) {
	
}
* {
	box-sizing: border-box;
}
/*Header/title*/
header{
	padding:80px;
	text-align:center;
	background-color:black;
	color: white;
	font-size:45px;
}
/* meny */
nav {
	overflow:hidden;
	background-color: #333;
	
}
.navul{
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:720px;
	margin: 0 auto;
	height:50px;
}

nav a {
	width:125px;
	display:block;
	color:white;
	text-align:center;
	padding: 14px 20px;
	transition:background-position-x 0.9s linear;
	font-size:22px;
	text-decoration:none;
	transition:all 0.45s;
}

nav a.active{
	background-color:black;
}
nav a:hover{
	background-color:#ddd;
	color:black;
}

body {
	font-family: 'Roboto', sans-serif;
	margin:0;
}

section#main {
	float: inherit;
	width: 50%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 30px;
	padding: 25px 25px 25px 25px;
	background-color: #434345;
	color: #000000;
	border-style: groove;
	box-shadow: 0 8px 16px 0 black;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align:center;
}

.content {
	width: 45%;
	padding: 10px 10px 10px 10px;
	height: 300px;
	background-color: #434345;
	color: #f0f0fa;
	display: inline-block;
}

fieldset {
	display: block;
	width: 95%;
	height: 160px;
	margin-bottom: 40px;
}
fieldset.allTeam {
	display: block;
	height: 320px;
	margin-left: 20px;

}

p#feedback{
	display: table;
    margin:auto;
    text-align:center;
}
.textField{
	width: 70%;
	padding: 5px 15px;
	 border: 2px solid black;
  border-radius: 4px;
}
.button{
	padding: 4px 16px;
	margin-left: 80px;
	margin-right: 7px;
	margin-bottom: 30px;
	font-size: 14px;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 black;
	float: left;
	cursor:pointer;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
input#CancelBtn:hover {
  background-color: #d43535;
  color: white;
}
.redPlaceHolder::placeholder {
  color: #d43535;
}
.redPlaceHolder{
	border: 2px solid #d43535;
}
/* Footer */
#AddBtn{
	float: none;
	margin-left: 7px;
}
li.listPadding{
	margin: 0 0 14px 0;
}
footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding:20px;
	text-align: center;
	background:#ddd;
}