@media screen and (max-width:600px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

/*Header/title*/
header{
	padding:80px;
	text-align:center;
	background-color:black;
	color: white;
}
header h1 {
	font-size: 40px;
}
/* meny */
nav {
	overflow:hidden;
	background-color: #333;
	
}
.navul{
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:720px;
	margin: 0 auto;
	height:50px;
}

nav a {
	width:125px;
	display:block;
	color:white;
	text-align:center;
	padding: 14px 20px;
	transition:background-posiotion-x 0.9s linear;
	font-size:22px;
	text-decoration:none;
	transition:all 0.45s;
	
	
}

nav a.active{
	background-color:black;
}
nav a:hover{
	background-color:#ddd;
	color:black;
}
/* Footer */

footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding:20px;
	text-align: center;
	background:#ddd;
}

body {
	font-family:Montserrat;
	margin:0;
}
section#row {
	padding: 100px 0px 280px 0px;
	display: block;
}

section#row:after {
	content: "";
	display: table;
	clear: both;
}

section#main {
	float: inherit;
	width: 35%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 10px 0px 15px;
	background-color: #434345;
	color: #f0f0fa;
}

section#content {
	padding: 10px 10px 10px 10px;
	background-color: #434345;
	color: #f0f0fa;
}

