@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media screen and (max-width:600px) {

}
* {
	box-sizing: border-box;
}

/*Header/title*/
header{
	padding:80px;
	text-align:center;
	background-color:black;
	color: white;
	font-size:45px;
}

h2{
	font-size: 35px;
	text-align:center;
}
/* Menu */
nav {
	overflow:hidden;
	background-color: #333;
	
}
.navul{
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:720px;
	margin: 0 auto;
	height:50px;
}

nav a {
	width:125px;
	display:block;
	color:white;
	text-align:center;
	padding: 14px 20px;
	transition:background-position-x 0.9s linear;
	font-size:22px;
	text-decoration:none;
	transition:all 0.45s;
}

nav a.active{
	background-color:black;
}
nav a:hover{
	background-color:#ddd;
	color:black;
}
/* Content*/
body {
	font-family: 'Roboto', sans-serif;
	margin:0;
}
p{
	display: inline-block;
}
section#welcome {
	display: inline-block;
	width: 40%;
	height: 400px;
	margin-left: 520px;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 10px 50px 10px 50px;
	background-color: #434345;
	color: #f0f0fa;
	text-align: center;
	border-style: groove;
	box-shadow: 0 8px 16px 0 black;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Weather widget*/
section#weatherSection {
	float: right;
	width: 450px;
	height: 270px;
	padding: 0px 5px 5px 15px;
	background-color: #a1dbff;
	color: black;
	box-shadow: 0 8px 16px 0 black;
}

#date{
	 font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

#city{
	 font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
}
#degree{
	  font-size: 90px;
  	color: rgba(0,0,0,0.9);
  	font-weight: 100;
  	margin-left: 190px;
}
#weather{
	 text-transform: uppercase;
	 font-weight: bold;
}
#sunrise{
	float: right;
	  font-weight: bold;
	  margin-right: 5px;
	  margin-left: 200px;
}
#sunset{
	float: right;
	  font-weight: bold;
	   margin-right: 5px;
	   margin-top: 10px;
}
/* Images*/
#bracketImg{
	max-width:30%;
	display: block;
	margin-left: auto;
	margin-right: 170px;
}
#weatherImg{
	position: absolute;
	top: 430px;
	right: 270px;
	max-width:120px;
}

#sunriseImg{
	max-width:30px;
	position: absolute;
	top: 315px;
	right: 100px;
}
#sunsetImg{
	max-width:30px;
	position: absolute;
	top: 378px;
	right: 100px;
	
}

/* Footer */

footer{
	
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding:20px;
	text-align: center;
	background:#ddd;
}

