@media screen and (max-width:600px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

header {
	padding: 10px;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 35px;
	background-color: #434345;
	color: #f0f0fa;
}
body {
	 background-color: #dedede;
}
section#row {
	padding: 10px 0px 10px 0px;
	display: block;
}

section#row:after {
	content: "";
	display: table;
	clear: both;
}

section#main {
	float: inherit;
	width: 35%;
	margin-left: 300px;
	margin-right: auto;
	padding: 15px 10px 10px 10px;
	background-color: #434345;
	color: #f0f0fa;
}

section#content {
	padding: 10px 10px 10px 10px;
	background-color: #434345;
	color: #f0f0fa;
}footer {
	position: absolute;
	bottom: 0;
 	width: 100%;
	text-align: center;
	padding: 1px;
	color: #f0f0fa;
	background-color: #434345;
	clear: both;
}

nav {
	float: left;
	width: 20%;
	color: white;
	background-color: #434345	;
	padding: 0px 10px 0px 0px;
}nav a {
	display: block;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
}
/* Change color on hover */
nav a:hover {
	background-color: #ddd;
	color: black;
}



nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li:hover, nav li:focus {
	color: #666;
	background-color: #d6d6d6;
}nav li.active {
	background: #555;
	color: #ffffff !important;
	font-weight: bold;
}

aside {
	float: right;
	width: 30%;
	background-color: #434345;
	color: white;
	
}