@media screen and (max-width:600px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

/*Header/title*/
header{
	padding:80px;
	text-align:center;
	background-color:black;
	color: white;
	font-size:45px;
}

h2{
	font-size: 20px;
	text-align:center;
}
/* meny */
nav {
	overflow:hidden;
	background-color: #333;
	
}
.navul{
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:720px;
	margin: 0 auto;
	height:50px;
}

nav a {
	width:125px;
	display:block;
	color:white;
	text-align:center;
	padding: 14px 20px;
	transition:background-posiotion-x 0.9s linear;
	font-size:22px;
	text-decoration:none;
	transition:all 0.45s;
}

nav a.active{
	background-color:black;
}
nav a:hover{
	background-color:#ddd;
	color:black;
}
/* Footer */

footer{
	
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
	padding:20px;
	text-align: center;
	background:#ddd;
}
body {
	font-family:Arial;
	margin:0;
}

/* Main*/
.row{
	padding:80px 200px 150px 200px;
}
.column{
	float:left;
	width:50%;
	padding:0 50px 50px 50px;
	margin:auto;
	
}
.row:after{
	content:"";
	display:table;
	clear:both;
}

img{
	max-width:30%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#city{
	font-size: 20px;
	text-align:center;
}

#asideTable{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:15px;
	width:50%;
}


