@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media screen and (max-width:600px) {
	
}
* {
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
}

/* Header/title */
header{
	padding:80px;
	text-align:center;
	background-color:black;
	color: white;
	font-size: 45px;
}
h2{
	font-size: 20px;
	text-align:center;
	padding-top: 50px;
}
/* Meny */
nav {
	overflow:hidden;
	background-color: #333;
	
}
.navul{
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:720px;
	margin: 0 auto;
	height:50px;
}

nav a {
	width:125px;
	display:block;
	color:white;
	text-align:center;
	padding: 14px 20px;
	transition:background-position-x 0.9s linear;
	font-size:22px;
	text-decoration:none;
	transition:all 0.45s;
	
	
}

nav a.active{
	background-color:black;
}
nav a:hover{
	background-color:#ddd;
	color:black;
}
/* Footer */

footer{
	padding:20px;
	text-align: center;
	background:#ddd;
}


/* Main */

section{
	padding:40px 700px 450px 700px;
}

/* Info input */

p input{
	border-radius:4px;
	width:100%;
	max-width:140px;
	height:30px;
	font-size:14px;
}

/* Team main view */
.teamSection{
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:0px 30% 30% 30%;
	text-align:center;
	
}

/* Participant list */
.participantSection{
	max-width:50%;
	float:right;
	padding:0px 50px 50px 50px;
}
.infoSection{
	max-width:50%;
	float:left;
	padding:0px 50px 50px 50px;

}

#teamList{
	list-style-type: none;
	padding-top: 20px;
	padding-left:0;
	margin: 0;

}
#teamList li a{
	width:100%;
	border:1px solid #ddd;
	margin-top:-1px;
	background-color:#f6f6f6;
	padding:12px;
	text-decoration:none;
	font-size:18px;
	color:black;
	display: block;
	font-size:14px;

}
label{
	font-size:17px;
}


/* Buttons */

#UpdateBtn{
	
	width:100%;
	max-width:100px;
	height:40px;
	font-size:16px;
	border-radius:4px;
	cursor:pointer;
	position:relative;
	transition: all 0.1s ease-in-out;

}
#UpdateBtn:hover{
	 background-color: #4CAF50; 
}

#backBtn:hover{
	  background-color: #d43535;
}
#backBtn{
	width:100%;
	max-width:100px;
	height:40px;
	font-size:16px;
	border-radius:4px;
	cursor:pointer;
	position:relative;
	transition: all 0.1s ease-in-out;
}

