@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media screen and (max-width:600px) {
}

* {
	box-sizing: border-box;
}

header {
	padding:50px;
	text-align:center;
	background-color:black;
	color: white;
	font-size:45px;
}
body {
	 font-family: 'Roboto', sans-serif;
	 margin:0;
}
section#row {
	float: inherit;
	width: 35%;
	height: 330px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
	background-color: #434345;
	color: #f0f0fa;
	border-style: groove;
	box-shadow: 0 8px 16px 0 black;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

section#row:after {
	content: "";
	display: table;
	clear: both;
}

section#TournamentFind {
	margin-left: auto;
	margin-right: auto;
	padding: 15px 10px 10px 10px;
}
fieldset#PersonalFS1{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 15px 15px 15px 15px;
	text-align: center;
	
}
.textField{
	width: 50%;
	padding: 5px 15px;
	 border: 2px solid black;
  border-radius: 4px;
}
input.button{
	padding: 4px 16px;
	margin-left: 7px;
	margin-right: 7px;
	text-align: center;
	font-size: 14px;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 black;
	cursor:pointer;
}
input.button:hover {
  background-color: #3d619c;
  color: white;
}
#UpdateBtnTour:hover{
	 background-color: #4CAF50;
}
footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding:20px;
	text-align: center;
	background:#ddd;
}

